body{
	display: grid;
	background-color: #111111;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 5px;
	color: white;
}
h1{
	text-align: center;
	grid-column-end: span 2;
}
#p1, #p2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	text-align: center;
	background-color: green;
}
#p1 h2, #p2 h2{
	grid-column-end: span 2;
}
#p1 p, #p2 p{
	grid-column-end: span 2;
}

@media screen and (max-width: 600px){
	body{
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr;
	}
	h1{
		grid-column-end: span 1;
	}
}